[submodule "libs/ompl"]
	path = libs/ompl
	url = https://github.com/ompl/ompl
[submodule "libs/librobotcontrol"]
	path = libs/librobotcontrol
	url = https://github.com/treasurejim/librobotcontrol
[submodule "libs/chan"]
	path = libs/chan
	url = git@gitlab.cognibotics.net:nextgen/chan.git
	branch = juliet-codegen-extra-params
